/*
* -----------------------------------------------------------------------------
* GENERAL TYPOGRAPHY
*-----------------------------------------------------------------------------
*/

body {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

@media (max-width: 991px) {
    body {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

/*
* -----------------------------------------------------------------------------
* HEADINGS
*-----------------------------------------------------------------------------
*/

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.667em;
}

h3 {
    font-size: 1.333em;
}